aiofiles==24.1.0
aiogram==3.21.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.6
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.14.0
annotated-types==0.7.0
anyio==4.6.2.post1
appnope==0.1.4
apprise==1.9.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgi-lifespan==2.1.0
asttokens==2.4.1
async-lru==2.0.4
asyncpg==0.30.0
attrs==25.3.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
Boruta==0.4.3
boto3==1.35.54
botocore==1.35.54
cachetools==5.5.0
cattrs==25.1.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
chembl-structure-pipeline==1.2.2
chembl-webresource-client==0.10.9
click==8.1.8
cloudpickle==3.1.0
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
contourpy==1.3.0
coolname==2.2.0
croniter==6.0.0
cryptography==44.0.0
cycler==0.12.1
dask==2025.7.0
dateparser==1.2.0
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
descriptastorus==2.8.0
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docopt==0.6.2
drugex @ git+https://github.com/CDDLeiden/DrugEx.git@bf61ce71db96bdfe25cc2832ec0d4cf0b1142db4
e3fp==1.2.7
easydict==1.13
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.6
fastjsonschema==2.20.0
filelock==3.18.0
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.12.0
gbmtsplits==0.0.8
gitdb==4.0.12
GitPython==3.1.44
graphviz==0.20.3
greenlet==3.1.1
griffe==1.5.4
h11==0.14.0
h2==4.1.0
hf-xet==1.1.5
hpack==4.0.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.33.4
humanize==4.11.0
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==8.12.3
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==7.8.5
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
jinja2-humanize-extension==0.4.0
jiter==0.7.0
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==1.1.11
kiwisolver==1.4.7
latexcodec==3.0.0
llvmlite==0.44.0
locket==1.0.0
magic-filter==1.0.12
Mako==1.3.8
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml2json==0.5.1
mlchemad==1.5.2
mmh3==5.1.0
mol_ga==0.2.1
mols2grid==2.0.0
monty==2024.10.21
mordred==1.2.0
mordredcommunity==2.0.6
mpmath==1.3.0
multidict==6.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==2.8.8
notebook==7.2.2
notebook_shim==0.2.4
numba==0.61.2
numpy==1.26.4
oauthlib==3.2.2
openai==1.54.3
opentelemetry-api==1.29.0
optuna==4.4.0
orjson==3.10.14
overrides==7.7.0
packaging==24.1
palettable==3.3.3
pandas==2.2.3
pandas_flavor==0.7.0
pandocfilters==1.5.1
papyrus_scripts==2.1.1
parameterized==0.9.0
parso==0.8.4
partd==1.4.2
pathspec==0.12.1
patsy==0.5.6
Pebble==5.1.1
pendulum==3.0.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.0.0
pip-system-certs==4.0
pipdeptree==2.24.0
pipreqs==0.5.0
platformdirs==4.3.6
plotly==5.24.1
prefect==3.1.12
prodec==1.0.2.post5
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.3.2
psutil==6.1.0
ptyprocess==0.7.0
PubChemPy==1.0.4
PuLP==3.2.1
pure_eval==0.2.3
pyarrow==20.0.0
pybtex==0.24.0
pycparser==2.22
pydantic==2.9.2
pydantic-extra-types==2.10.1
pydantic-settings==2.7.1
pydantic_core==2.23.4
Pygments==2.18.0
pymatgen==2024.10.29
pymongo==4.10.1
pyparsing==3.2.0
pystow==0.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-slugify==8.0.4
python-socks==2.6.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
qsprpred @ git+https://github.com/CDDLeiden/QSPRpred.git@d742e8fff0201a632b5af3c7ae5f042fa58f8fa1
rdkit==2024.3.5
readchar==4.2.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-cache==1.2.1
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
s3transfer==0.10.3
scikit-fingerprints==1.16.0
scikit-learn==1.4.0
Scikit_learns==0.1.0
scipy==1.14.1
sdaxen-python-utilities==0.1.5
seaborn==0.13.2
selfies==2.2.0
Send2Trash==1.8.3
setuptools==80.9.0
shellingham==1.5.4
six==1.16.0
smart_open==7.3.0.post1
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
spglib==2.5.0
SQLAlchemy==2.0.37
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.4
swifter==1.4.0
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.5.0
time-machine==2.16.0
tinycss2==1.3.0
toml==0.10.2
toolz==1.0.0
torch==2.7.1
tornado==6.4.1
tqdm==4.66.6
traitlets==5.14.3
typer==0.13.1
types-python-dateutil==2.9.0.20241003
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ujson==5.10.0
uncertainties==3.2.2
uri-template==1.3.0
url-normalize==2.2.1
urllib3==2.2.3
uvicorn==0.34.0
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
widgetsnbextension==3.6.10
wrapt==1.16.0
xarray==2025.7.1
xgboost==3.0.2
yarg==0.1.9
yarl==1.12.1
zipp==3.21.0
